.alinearPagination{
    display:inline;
}

.alinearLi{
    padding-left: 7px;
    padding-right: 7px;
    display: inline;
    border: solid;
    background-color:#00838F;
    transition: background-color .3s ease;
    cursor:pointer;
}


.alinearLi:hover{
    background-color:#26C6DA;
}