.imagen2{
    min-height: 100vh;
    background-image:url('../images/frame-of-healthy-ingredients-for-cooking.jpg');
    height:500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.alinearInputs{
    display: flex;
    justify-content: center;
    align-content:center ;
}

.align{
    margin-right: 20px;
}